- var description = 'ENLIVEN is a personalized lifestyle “magazine” where you can follow or save your favourite topics and styles. Share and interact with your favorite lifestyle writers, photographers, and columnists that challenge and inspire you.'
head
  meta(charset='utf-8')
  meta(name='viewport', content='width=device-width, initial-scale=1')
  meta(http-equiv='X-UA-Compatible', content='IE=edge')

  title ENLIVEN &ndash; #{title}
  meta(property='og:type', content='website')
  meta(property='og:url', content='http://www.enliven.se')
  meta(name='twitter:site', content='@Enliven')
  meta(property='og:site_name', content='ENLIVEN – #{title}')
  meta(property='og:title', content='ENLIVEN – #{title}')
  meta(property='twitter:card', content='summary')
  meta(property='twitter:title', content='ENLIVEN – #{title}')

  meta(name='description', content=description)
  meta(property='og:description', content=description)
  meta(property='twitter:description', content=description)

  link(rel='apple-touch-icon', href='apple-touch-icon.png')
  link(rel='shortcut icon', href='/images/enliven-logo-320x132-320x132-24.png', type='image/x-icon')
  meta(property='og:image', content='/images/enliven-logo-320x132-320x132-24.png')
  meta(property='twitter:image', content='/images/enliven-logo-320x132-320x132-24.png')

  meta(name='apple-mobile-web-app-capable', content='yes')
  meta(name='HandheldFriendly', content='true')
  meta(name='MobileOptimized', content='width')

  link(href='//www.enliven.se', rel='dns-prefetch')
  link(href='//www.google-analytics.com', rel='dns-prefetch')
  link(href='//duskywing.enliven.se', rel='dns-prefetch')
  link(href='//s3.amazonaws.com', rel='dns-prefetch')

  // build:css styles/vendor.css
  // bower:css
  // endbower
  // endbuild

  // build:css styles/main.css
  link(rel='stylesheet', href='styles/main.css')
  // endbuild

  // build:js scripts/vendor/modernizr.js
  script(src='/bower_components/modernizr/modernizr.js')
  // endbuild
