- var description = 'ENLIVEN is a personalized lifestyle magazine where you can follow your favorite topics. Interact with writers, photographers, and columnists that inspire you.'
  head
  meta(charset='utf-8')
  meta(name='viewport', content='width=device-width, initial-scale=1')
  meta(http-equiv='X-UA-Compatible', content='IE=edge')

  title ENLIVEN &ndash; #{title}
  meta(property='og:type', content='website')
  meta(property='og:url', content='https://www.enliven.co')
  meta(name='twitter:site', content='@Enliven')
  meta(property='og:site_name', content='ENLIVEN – #{title}')
  meta(property='og:title', content='ENLIVEN – #{title}')
  meta(property='twitter:card', content='summary')
  meta(property='twitter:title', content='ENLIVEN – #{title}')

  meta(name='description', content=description)
  meta(property='og:description', content=description)
  meta(property='twitter:description', content=description)

  link(href='/logo-52a3cb.png', rel='apple-touch-icon')
  link(type='image/x-icon', href='/favicon.ico', rel='shortcut icon')
  meta(property='og:image', content='/images/logo-52a3cb.png')
  meta(property='twitter:image', content='/images/logo-52a3cb.png')

  meta(name='apple-mobile-web-app-capable', content='yes')
  meta(name='HandheldFriendly', content='true')
  meta(name='MobileOptimized', content='width')

  link(href='//style.enliven.co', rel='dns-prefetch')
  link(href='//piwik.enliven.co', rel='dns-prefetch')
  link(href='//cms-embed.enliven.co', rel='dns-prefetch')
  link(href='//cms.enliven.co', rel='dns-prefetch')
  link(href='//www.enliven.co', rel='dns-prefetch')
  link(href='//www.google-analytics.com', rel='dns-prefetch')
  link(href='//s3.amazonaws.com', rel='dns-prefetch')

  // build:css styles/vendor.css
  // bower:css
  // endbower
  // endbuild

  // build:css styles/main.css
  link(href='/styles/main.css', rel='stylesheet')
  // endbuild

  // build:js scripts/vendor/modernizr.js
  script(src='/bower_components/modernizr/modernizr.js')
  // endbuild

  include adsense.html
